<div class="m-3 d-flex justify-content-center">
    {{form_start(form)}}
        {{form_row(form.title)}}
        {{form_row(form.content)}}
        <button type="submit" class="mt-2 btn btn-outline-primary">{{buttonName}}</button>
    {{form_end(form)}}
</div>